h2 {
    font-size: 3em;
    text-align: center;
    color: white;
    background-color:black;
    background-size: cover;
    background-size: 80px;
  }

.Busqueda{
    text-align: center;
        
}