@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400;500;600;700;800&family=Lato:wght@300;400;700&display=swap');

:root {
    --letf-margin: 24px;
}

.hero-area {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.11), rgba(0, 0, 0, 0.05)), url("/static/img/bg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
}

/* * {
    border: 1px solid black;
} */

/* .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */


header {
    background-color: white;
    height: 3rem;
    /* background: rgb(240,240,240); */
    /* background: linear-gradient(180deg, rgba(240,240,240,1) 11%, rgba(255,255,255,1) 100%); */
}

nav {
    display: flex;
    justify-content: space-between;
}

.logo-container {
    margin-left: var(--letf-margin);
}

.icon-logo {
    display: inline-block;
    width: 24px;
    height: 24px;
}

.logo {
    text-decoration: none;
    color: black;
    font-family: 'Catamaran', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 3rem;
}

.about-anchor {
    text-decoration: none;
    color: black;
    font-family: 'Catamaran', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 3rem;
    margin-right: var(--letf-margin);
}

.grid-container {
    display: grid;
    grid-template-columns: 70% 30%;
    height: calc(100vh - 100px);
    /* border: 1px solid black; */
}

.container {
    padding-left: var(--letf-margin);
    padding-right: var(--letf-margin);
}

.main-heading {
    font-family: 'Catamaran', sans-serif;
    font-weight: 700;
    font-size: 72px;
}

.text-heading {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 50px;
}

.btn-start {
    border-radius: 20px;
    background-color: black;
    padding: 16px 28px 16px 28px;
    border: none;
}

.text-start {
    font-family: 'Catamaran', sans-serif;
    font-weight: 600;
    font-size: 28px;
    /* line-height: 1.2rem; */
    margin: 0;
    color: white;
}

.container-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popupclose-btn {
    position: absolute;
    right: 10px;
    top: 15px;
    width: 30px;
    height: 30px;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.form-login {
    padding: 16px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(0.3px);
    border-radius: 10px;
    width: 65%;
    height: 75%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    transform: translate(-150%, -150%) scale(0);
}

.form-login.active {
    transition: all 300ms ease-in-out;
    transform: translate(0, 0)scale(1);
}

/* .form-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid black;
} */

/* .login-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px dashed black;
} */

.login-title {
    font-family: 'Catamaran', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    color: white;
}

.or {
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-variant: small-caps;
    /* border: 1px solid black; */
}

.login-btn, .join-btn {
    width: 75%;
    border-radius: 16px;
    padding: 5px 0 5px 0;
    border: 1px solid white;
    background: none;

}

.login-btn p, .join-btn p {
    margin: 0;
    font-family: 'Catamaran', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    color: white;
    
}

.data-user, .data-password, .forgot {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    /* border: 1px solid black; */
    color: white;
}

.data-user, .data-password {
    width: 75%;
}

/* .data-password {
    margin-bottom: 10px;
} */

.forgot {
    font-size: 0.6rem;
    position: absolute;
    top: 230px;
    right: 50px;
}

.input-user, .input-password {
    display: block;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(255, 255, 255);
}

.label-user, .label-password {
    display: block;
}




footer {
    background-color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.text-footer {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin-left: var(--letf-margin);
}