h1{
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    padding-top: 10px;
    margin-left: 20px;
}

h2{
    font-family: Ubuntu-Bold;
    text-align: center;
    color: white;
    background-color:black;
    background-size: cover;
}

h3{
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    padding-top: 10px;
    margin-left: 20px;
    color: black;    
}

p{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color:#444444;
    margin-left: 200px;
}

img.perfil{
    width: 150px;
    height: 150px;
    margin-left: 20px;
    margin-right: 20px;
    float: left;
    border-style: solid;
	border-color: black;
	border-width: 2px;
}

img.subidas{
    width: 300px;
    height: 225px;
    margin-top: 20px;
    margin-right: 20px;
}

body{
    background: #DAE2F8;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D6A4A4, #DAE2F8);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D6A4A4, #DAE2F8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

div.contenedor{
    background: #DAE2F8;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D6A4A4, #DAE2F8);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D6A4A4, #DAE2F8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
div.botones{
    margin-left: 20px;
}

#div1 {
    background: #DAE2F8;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D6A4A4, #DAE2F8);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D6A4A4, #DAE2F8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
#a {
    text-align: left;
}

.banner{
    display: flex;
    align-items: center;
    padding-top: 20px;
    background: #DAE2F8;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D6A4A4, #DAE2F8);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D6A4A4, #DAE2F8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.banner{
    display: flex;
    align-items: center;
    background: #DAE2F8;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D6A4A4, #DAE2F8);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D6A4A4, #DAE2F8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.search-bar button{
    background: #DAE2F8;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D6A4A4, #DAE2F8);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D6A4A4, #DAE2F8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    color: black;
    border-radius: 20px;
    font-size: 24px;
    object-fit: cover;
    border-color: transparent;
}

.search-bar input{
    width: 400px;
    height: 35px;
    margin-left: 10px;
    padding-left: 5px;
    border-radius: 20px;
    text-align: left;
    font-size: 24px;
    font-family: 'Orienta', sans-serif;
    border-color: black;
}
