*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: #DAE2F8;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D6A4A4, #DAE2F8);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D6A4A4, #DAE2F8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

h1{
    font-weight: 400;
    text-align: left;
    padding: 28px 0 3px 8px;
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
}

h5{
    font-weight: 300;
    text-align: left;
    margin-left: 10px;
    font-family: 'Orienta', sans-serif;
}

.banner{
    display: flex;
    align-items: center;
    margin-top: 20px;
    
}

.search-bar button{
    background: #654ea3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eaafc8, #654ea3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    color: black;
    border-radius: 20px;
    font-size: 24px;
    object-fit: cover;
    border-color: transparent;
}

.search-bar input{
    width: 400px;
    height: 35px;
    margin-left: 10px;
    padding-left: 5px;
    border-radius: 20px;
    text-align: left;
    font-size: 24px;
    font-family: 'Orienta', sans-serif;
    border-color: black;
}
.profile button{
    background: black;
    color: white;
    border-radius: 20px;
    font-size: 30px;
    margin: 0 5px 0 700px;
    object-fit: cover;
    
}

.upload button{
    background: #2ecc71;
    color: #232323;
    border-radius: 8px;
    font-size: 16px;
    text-align: center;
    width: 150px;
    height: 35px;
    font-family: 'Orienta', sans-serif;
    border-color: transparent;
}

.galeria{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350PX, 1fr));
    width: 99%;
    margin: auto;
    grid-gap: 5px;
    padding: 10px 0;
    overflow: hidden;
}

.galeria > a{
    display: block;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.galeria img{
    width: 100%;
    vertical-align: top;
    height: 300px;
    object-fit: cover;
    transition: transform 0.5s;
}

/* Al pasar el mouse se distorsiona con el blur */
.galeria a:hover img{
    filter: blur(2px);
    transform: rotate(10deg) scale(1.3);
}

.light-box{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    transition: transform .3s ease-in-out;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
}

.light-box img{
    width: 65vw;
    max-height: 60 vh;
}

.light-box:target{
    transform: scale(1);
}

.close{
    display: block;
    position: absolute;
    top: 30px;
    right: 30px;
    background: transparent;
    color: #fff;
    text-decoration: none;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    font-family: 'Open Sans', sans-serif;
    
}

.next{
    display: block;
    background: transparent;
    color: #fff;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
    /* border-radius: 50%; */
}

@media screen and (max-width:400px){
    .galeria{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .close{
        top: 20px;
        right: 20px;
    }
}