{% extends "layout.html" %}
{% block body %}
   
    {% with messages = get_flashed_messages()  %}
    {% if messages %}
    {% for message in messages %}
  <p>{{message}}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
        
          
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="card card-body">
            <div class="form-group">

                <h1>Modificar imagen</h1>
            </div> 
              
                     
                    <form action ="/update2/{{contact.0}}" method="POST" name="formulario modificar"  >
                        <div class="form-group">
                            Nombre:<br>
                   
                            <input type="text" name="nombre" value="{{contact.2}}" required>
                          </div>
                          <div class="form-group">
                            Descripción :<br>
                            <input type="text" name="descripcion" value="{{contact.3}}" required>
                          </div>
                          <div class="form-group">
                            Privacidad :<br>
                            <label>  <input type="radio" name="privacidad" value="False" checked="checked" > Pública</label><br>
                            <label> <input type="radio" name="privacidad" value="True" > Privada</label><br>
                         <br>
                          </div>
                          <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">
                              Modificar
                            </button>
                          </div>
                    </form>
                </div>
            </div>
          </div>
        
{% endblock %}