<!-- Componentes:
1. Una barra para ingresar nuevas búsquedas y que se conserve la última búsqueda escrita.
2. Un título que muestre la búsqueda digitada.
3. Una serie de búsquedas relacionadas, sacadas a partir de palabras clave.
4. Galería de imágenes una al lado de la otra. -->

<html>
    <head>
        <title>search</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/search_style.css')}}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Orienta&display=swap" rel="stylesheet">
    </head>
    
    <body>
        <div class="banner">
            <span class="search-bar">
                <form action="{{ url_for('buscar', busqueda=busqueda) }}" method="POST">
                    <input type="text" name="busqueda" placeholder="{{ busqueda }}"/>
                    <button type="submit"><i class="fas fa-search"></i></button>
                </form>
            </span>
            <span class="profile">
                <form action="{{ url_for('perfil') }}">
                    <button type="submit"><i class="fas fa-user-circle"></i></button>
                </form>
                <!-- <a href="{{ url_for('perfil') }}"></a> -->
            </span> 
            <span class="upload">
                <form action="{{ url_for('crear') }}">
                    <button type="submit"><i class="fas fa-upload"></i>
                        <span style="margin-left: 4px">Subir imagen</span>
                    </button>
                </form>
            </span>
        </div>

        <div>
            <h1>{{ busqueda }}</h1>
            <h5>Imágenes relacionadas &nbsp;  Etiqueta 1 &nbsp;  Etiqueta 2 &nbsp;  Etiqueta 3 &nbsp;  Etiqueta 4</h5>
        </div>
        
        
        <section class="galeria">
            <!-- #image# es el target para animarlas -->
            <a href="#image1">
                <img src="{{ url_for('static', filename='img/image (1).jpg')}}" alt=""></a>
            <a href="#image2">
                <img src="{{ url_for('static', filename='img/image (2).jpg')}}" alt=""></a>
            <a href="#image3">
                <img src="{{ url_for('static', filename='img/image (3).jpg')}}" alt=""></a>
            <a href="#image4">
                <img src="{{ url_for('static', filename='img/image (4).jpg')}}" alt=""></a>
            <a href="#image5">
                <img src="{{ url_for('static', filename='img/image (5).jpg')}}" alt=""></a>
            <a href="#image6">
                <img src="{{ url_for('static', filename='img/image (6).jpg')}}" alt=""></a>

        </section>

        <article class="light-box" id="image1">
            <a href="#image6" class="next"><i class="fas fa-arrow-left"></i></a>
            <img src="{{ url_for('static', filename='img/image (1).jpg')}}" alt="">
            <a href="#image2" class="next"><i class="fas fa-arrow-right"></i></a>
            <a href="#" class="close">X</a>
        </article>

        <article class="light-box" id="image2">
            <a href="#image1" class="next"><i class="fas fa-arrow-left"></i></a>
            <img src="{{ url_for('static', filename='img/image (2).jpg')}}" alt="">
            <a href="#image3" class="next"><i class="fas fa-arrow-right"></i></a>
            <a href="#" class="close">X</a>
        </article>

        <article class="light-box" id="image3">
            <a href="#image2" class="next"><i class="fas fa-arrow-left"></i></a>
            <img src="{{ url_for('static', filename='img/image (3).jpg')}}" alt="">
            <a href="#image4" class="next"><i class="fas fa-arrow-right"></i></a>
            <a href="#" class="close">X</a>
        </article>

        <article class="light-box" id="image4">
            <a href="#image3" class="next"><i class="fas fa-arrow-left"></i></a>
            <img src="{{ url_for('static', filename='img/image (4).jpg')}}" alt="">
            <a href="#image5" class="next"><i class="fas fa-arrow-right"></i></a>
            <a href="#" class="close">X</a>
        </article>

        <article class="light-box" id="image5">
            <a href="#image4" class="next"><i class="fas fa-arrow-left"></i></a>
            <img src="{{ url_for('static', filename='img/image (5).jpg')}}" alt="">
            <a href="#image6" class="next"><i class="fas fa-arrow-right"></i></a>
            <a href="#" class="close">X</a>
        </article>

        <article class="light-box" id="image6">
            <a href="#image5" class="next"><i class="fas fa-arrow-left"></i></a>
            <img src="{{ url_for('static', filename='img/image (6).jpg')}}" alt="">
            <a href="#image1" class="next"><i class="fas fa-arrow-right"></i></a>
            <a href="#" class="close">X</a>
        </article>

        <script src="https://kit.fontawesome.com/3730109e88.js" crossorigin="anonymous"></script>
    </body>
    
    
     
</html>
